@import './mixins.scss';
@import './slideKeyframe.scss';

#about {
    @include slide('Y', 0.4s);
    p {
        text-align: justify;
    }
    @include large {
        margin: auto;
        max-width: 500px;
    }
    @include small {
	margin: 50px;
    }
}
