@import './palette.scss';
@import url('https://fonts.googleapis.com/css2?family=Mukta&display=swap');
@import './mixins.scss';

#app {
    // height: 100%;
    flex: 1 0 auto;
}

body {
    margin: 0px;
    background-image: linear-gradient($almostBlack, $darkGray);
    * {
        font-family: 'Mukta', sans-serif;
        color: #fff;
	@include large {
	    font-size: 15px;
	}
	@include small {
	    font-size: 40px;
	}
    }

    display: flex;
    flex-direction: column;
}
