@import './palette.scss';
@import './mixins.scss';
@import './slideKeyframe.scss';

.home {
    display: flex;
    @include large {
        @include slide('X', 0.4s);
        flex-direction: row;
        min-height: 600px;
    }
    @include small {
        @include slide('Y', 0.4s);
        flex-direction: column;
        min-height: 1000px;
    }

    .back {
        display: none;
        position: absolute;
        width: 500px;
        height: 300px;
        background-color: #4c566a;
        transform: translate(100px, 135px);
    }

    .card {
        position: relative;
        display: flex;
        flex-direction: column;
        margin: 80px;
        padding: 50;
        margin-right: none;

        .js {
            color: $yellow;
        }
        .fs {
            color: $red;
        }

        @include large {
            * {
                font-size: 50px;
            }
            width: 460px;

            .hello {
                font-size: 30px;
            }

            div {
                width: 100%;
                display: flex;
                flex-direction: row;

                span {
                    margin-right: 10px;
                }
            }

            .dev {
                margin-left: 80px;
            }
        }

        @include small {
            * {
                font-size: 80px;
            }
            .dev {
                display: flex;
                flex-direction: column;
            }
        }
    }
}
