@import './palette.scss';
@import './mixins.scss';

.home {
    display: flex;
    @include large {
        flex-direction: row;
    }

    .back {
        display: none;
        position: absolute;
        width: 500px;
        height: 300px;
        background-color: #4c566a;
        transform: translate(100px, 135px);
    }

    .card {
        position: relative;
        display: flex;
        flex-direction: column;
        margin: 80px;
        padding: 50;
        margin-right: none;
        font-size: 3em;

        @include large {
            width: 460px;

            .hello {
                font-size: 30px;
            }

            div {
                width: 100%;
                display: flex;
                flex-direction: row;

                span {
                    margin-right: 10px;
                }
                .js {
                    color: $yellow;
                }
                .fs {
                    color: $red;
                }
            }

            .dev {
                margin-left: 80px;
            }
        }

        @include small {
            .dev {
                display: flex;
                flex-direction: column;
            }
        }
    }
}
