@import './palette.scss';
@import './mixins.scss';

#icons {
    // display: flex;
    // flex-direction: column;
    @include large {
        .animated {
            animation: jump 4s cubic-bezier(1, 0, 0, 1);
        }
    }
    @include small {
	margin-left: 350px;
        .animated {
            animation: slide 4s cubic-bezier(1, 0, 0, 1);
        }
    }
    #nodeicon {
        transform: scale(0.8) translate(0, 50px);
        * {
            fill: $green;
        }
    }
    #reacticon {
        transform: scale(3.8) translate(25px, 40px);
    }
    #webpackicon {
        transform: scale(0.85) translate(0, 50px);
    }
    #nginxicon {
        transform: scale(4) translate(24px, 40px);
    }
}

@keyframes jump {
    0% {
        transform: translateY(-600px);
    }
    25% {
        transform: translateY(0);
    }
    75% {
        transform: translateY(0);
    }
    100% {
        transform: translateY(-600px);
    }
}

@keyframes slide {
    0% {
        transform: translateX(-600px);
    }
    25% {
        transform: translateX(0);
    }
    75% {
        transform: translateX(0);
    }
    100% {
        transform: translateX(-600px);
    }
}
