@import './palette.scss';

#icons {
    display: flex;
    flex-direction: column;
    .animated {
	position: absolute;
        animation: test 4s cubic-bezier(1, 0, 0, 1);
    }
    #nodeicon {
        transform: scale(0.8) translate(0, 50px);
        * {
            fill: $green;
        }
    }
    #reacticon {
        transform: scale(3.8) translate(25px, 40px);
    }
    #webpackicon {
        transform: scale(0.85) translate(0, 50px);
    }
    #nginxicon {
	transform: scale(4) translate(24px, 40px);
    }
}

@keyframes test {
    0% {
        // transform: translateX(600px);
	// opacity: 0;
        transform: translateY(-600px);
    }
    25% {
        // transform: translateX(0px);
	// opacity: 1;
        transform: translateY(0);
    }
    75% {
        // transform: translateX(0px);
	// opacity: 1;
        transform: translateY(0);
    }
    100% {
        // transform: translateX(600px);
	// opacity: 0;
        transform: translateY(-600px);
    }
}
